<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->
<mapper namespace="com.green.backend_plant_comunity.member.mapper.MemberMapper">
	<resultMap id="member" type="com.green.backend_plant_comunity.member.dto.MemberDTO">
        <id     column="MEM_ID"             property="memId" />
        <result column="MEM_PW"             property="memPw" />
        <result column="MEM_NAME"           property="memName" />
        <result column="MEM_ADDR"           property="memAddr" />
        <result column="MEM_DETAIL_ADDR"    property="memDetailAddr" />
        <result column="MEM_TELL"           property="memTell" />
        <result column="MEM_EMAIL"          property="memEmail" />
        <result column="MEM_GRADE"          property="memGrade" />
        <result column="JOIN_DATE"          property="joinDate" />
        <result column="MEM_BUSINESS_NUM"   property="memBusinessNum" />
        <result column="MEM_BUSINESS_NAME"  property="memBusinessName" />
    </resultMap>

    <!--회원가입 버튼 누르면 실행할 쿼리-->
    <insert id="joinMember">
        INSERT INTO member(
            MEM_ID
            , MEM_PW
            , MEM_NAME
        <if test='memAddr != ""'>
            , MEM_ADDR
        </if>
        <if test='memDetailAddr != ""'>
            , MEM_DETAIL_ADDR
        </if>
            , MEM_TELL
        <if test='memEmail != ""'>
            , MEM_EMAIL
        </if>
            , MEM_GRADE
        <if test='memBusinessNum != ""'>
            , MEM_BUSINESS_NUM
        </if>
        <if test='memBusinessName != ""'>
            , MEM_BUSINESS_NAME
        </if>
        ) VALUES (
            #{memId}
            , #{memPw}
            , #{memName}
        <if test='memAddr != ""'>
            , #{memAddr}
        </if>
        <if test='memDetailAddr != ""'>
            , #{memDetailAddr}
        </if>
        , #{memTell}
        <if test='memEmail != ""'>
            , #{memEmail}
        </if>
            , #{memGrade}
        <if test='memBusinessNum != ""'>
            , #{memBusinessNum}
        </if>
        <if test='memBusinessName != ""'>
            , #{memBusinessName}
        </if>
        );
    </insert>

    <!--회원아이디 중복검사-->
    <select id="checkId" resultType="int">
        SELECT
            COUNT(*)
        FROM
            member
        WHERE
            MEM_ID = #{memId}
    </select>

    <!--회원연락처 중복검사-->
    <select id="checkTell" resultType="int">
        SELECT
            COUNT(*)
        FROM
            member
        WHERE
            MEM_TELL = #{memTell}
    </select>
    <!--사업자번호 중복검사-->
    <select id="checkBusinessNum" resultType="int">
        SELECT
            COUNT(*)
        FROM
            member
        WHERE
            MEM_BUSINESS_NUM = #{memBusinessNum}
    </select>
    <!--로그인시 아이디, 비밀번호 일치 조회-->
    <select id="login" resultMap="member">
        SELECT
            MEM_ID
            , MEM_NAME
            , MEM_GRADE
        FROM
            MEMBER
        WHERE
            MEM_ID = #{memId}
        AND
            MEM_PW = #{memPw}
    </select>

    <!--아이디 찾기-->
    <select id="findId" resultMap="member">
        SELECT
            MEM_ID
        FROM
            member
        WHERE
            MEM_NAME = #{memName}
        AND
            MEM_TELL = #{memTell}
    </select>
    <!--비밀번호 찾기-->
    <select id="findPw" resultMap="member">
        SELECT
            MEM_ID
        FROM
            member
        WHERE
            MEM_NAME = #{memName}
        AND
            MEM_TELL = #{memTell}
        AND
            MEM_ID = #{memId}
    </select>

    <!--my page 화면 에서 회원정보 조회-->
    <select id="getMemberDetail" resultMap="member">
        SELECT
            MEM_ID
            , MEM_PW
            , MEM_NAME
            , MEM_ADDR
            , MEM_DETAIL_ADDR
            , MEM_TELL
            , MEM_EMAIL
            , MEM_GRADE
            , MEM_BUSINESS_NUM
            , MEM_BUSINESS_NAME
        FROM MEMBER
        WHERE MEM_ID = #{memId}
    </select>


    <!-- [관리자] 전체 회원 목록 조회 -->
    <select id="selAllMembers" resultMap="member">
        SELECT
            MEM_ID,
            MEM_NAME,
            MEM_TELL,
            MEM_ADDR,
            MEM_BUSINESS_NUM,
            JOIN_DATE
        FROM MEMBER
        ORDER BY JOIN_DATE DESC
    </select>

    <!-- [관리자] 회원 삭제 -->
    <delete id="deleteMemberByAdmin">
        DELETE FROM member
        WHERE mem_id = #{memId}
    </delete>
</mapper>
